jobs:
  include:
    - stage: test
      name: back
      language: java
      services:
        - postgresql
      before_cache:
        - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
        - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
      cache:
        directories:
          - $HOME/.gradle/caches/
          - $HOME/.gradle/wrapper/
      before_script: cd back
      script:
        - psql -c 'create database '$DATABASE_NAME';' -U postgres
        - ./gradlew testCoverage
      after_success:
        - bash <(curl -s https://codecov.io/bash)

    - stage: test
      name: front
      language: node_js
      node_js: node
      cache: yarn
      before_install: cd front
      install: yarn

    - stage: deploy-back
      if: branch = master AND (NOT (type = pull_request))
      language: java
      before_cache:
        - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
        - rm -fr $HOME/.gradle/caches/*/plugin-resolution/
      cache:
        directories:
          - $HOME/.gradle/caches/
          - $HOME/.gradle/wrapper/
      before_script: cd back
      script: ./gradlew check -x test
      deploy:
        provider: heroku
        skip_cleanup: true
        api_key:
          secure: $HEROKU_API_KEY
        app: sosback
        on:
          repo: AugustoConti/smart-open-space

    - stage: deploy-front
      if: branch = master AND (NOT (type = pull_request))
      language: node_js
      node_js: node
      cache: yarn
      before_script: cd front
      script: skip
      deploy:
        provider: heroku
        skip_cleanup: true
        api_key:
          secure: $HEROKU_API_KEY
        app: smartopenspace
        on:
          repo: AugustoConti/smart-open-space
