<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="email_username" source="logging.appender.email.username"/>
    <springProperty name="email_password" source="logging.appender.email.password"/>
    <springProperty name="email_to" source="logging.appender.email.to"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
    </root>

</configuration>