<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <springProperty name="email_username" source="logging.appender.email.username"/>
    <springProperty name="email_password" source="logging.appender.email.password"/>
    <springProperty name="email_to" source="logging.appender.email.to"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${CONSOLE_LOG_PATTERN}</Pattern>
        </layout>
    </appender>

    <appender name="Email" class="ch.qos.logback.classic.net.SMTPAppender">
        <smtpHost>smtp.gmail.com</smtpHost>
        <smtpPort>587</smtpPort>
        <STARTTLS>true</STARTTLS>
        <asynchronousSending>false</asynchronousSending>
        <username>${email_username}</username>
        <password>${email_password}</password>
        <to>${email_to}</to>
        <from>${email_username}</from>
        <subject>SOS: %logger{20} - %m</subject>
        <layout class="ch.qos.logback.classic.PatternLayout">
            <pattern>%date %-5level %logger{35} - %message%n</pattern>
        </layout>
    </appender>

    <root level="info">
        <appender-ref ref="Console"/>
        <appender-ref ref="Email" />
    </root>

</configuration>