{
  "env": { "browser": true },
  "extends": ["airbnb", "plugin:prettier/recommended"],
  "plugins": ["prettier", "react-hooks"],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-props-no-spreading": "off",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "import/no-unresolved": [
      2,
      {
        "ignore": ["#"]
      }
    ]
  },
  "parser": "babel-eslint"
}
